.app{
  background: url("/src/components/assets/pinkSkyArchitecture.jpg")no-repeat center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 1000px;
  top: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app-dark{
background: url("/src/components/assets/tyler-lastovich-ddLiNMqWAOM-unsplash.jpg") no-repeat center fixed;
background-size: cover;
display: flex;
flex-direction: column;
min-height: 100%;
min-width: 1024px;
width: 100%;
height: 1000px;
top: 0;
left: 0;
}

.mode{
  width: 50%;

}

/* @media screen and (max-width: 1024px) {
  .app {
    left: 50%;
    margin-left: -512px;
  }
  .app-dark{
    left: 50%;
    margin-left: -512px;
  }
} */

.calendar-container{
  margin-top: 50px;
  background-color: rgba(229, 229, 229, 0.44);
  width: 80%;
}

.calendar-container-dark{
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.489);
  width: 80%;
}

.calendarView{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .rbc-header{
  height: 30px;
  padding-top: 8px !important;
  color: white;
  background-color: rgb(228 228 228 / 35%);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
 }

 .cal-month-dark{
  height: 30px;
  padding-top: 8px !important;
  color: rgba(73, 73, 73, 0.806);
  background-color: rgba(247, 247, 247, 0.346);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #ddd !important;
 }
 
 
 .rbc-toolbar button{
  color: rgb(255, 255, 255) !important;
  font-weight: bold;
  border: 2px solid rgba(255, 255, 255, 0.478) !important;
 }


 .rbc-toolbar-label{
  color: white;
  font-weight: bold;
  font-size: xx-large;
  /* background-color: rgba(118, 118, 118, 0.561); */
  text-align: right !important;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
 }

 .rbc-month-view{
  border: none !important;
 }
 .rbc-today {
  background-color: rgb(202 202 202 / 60%) !important;
 }

 div.rbc-event{
  color: #373737a6;
 }

 .rbc-event{
  background-color: #e9e8e8ba !important;
  font-family: 'Barlow Condensed', sans-serif !important;
  border-radius: 4px !important;
  font-size: small;
  color: black
 }

 .rbc-day-bg{
  border: 2px solid rgba(255, 255, 255, 0.277);
  background-color: rgb(45 45 45 / 13%);
 }
 

 .rbc-day-bg:hover{
  background-color: rgba(204, 203, 203, 0.517) !important;
 }

 .rbc-off-range-bg{
  background-color: rgba(247, 247, 247, 0.346) !important;
 }

 .rbc-off-range-bg{
  background-color: rgb(45 45 45 / 13%) !important;
 }


 .rbc-button-link{
  color: rgba(73, 73, 73, 0.806) !important;
  font-weight: bold;
 }

 .rbc-button-link{
  color: rgba(255, 255, 255, 0.806) !important;
  font-weight: bold;
 }
 .registerForm{
  display: flex;
  flex-direction: column;
  align-items: left;
 }

 .registerForm-dark {
  display: flex;
  flex-direction: column;
  align-items: left;
 }

 .registerForm-dark div {
  color: rgb(178, 178, 178);
 }

 .registerForm-dark label {
  color: white;
 }

 .form-container{
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
 }

 .registerContainer{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100px;
 }

.inputField{
  width: 300px;
  height: 30px;
}

.passwordNote{
  color: rgba(67, 67, 67, 0.499);
  font-size: 15px;
  margin-bottom: 5px;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 20px;
}

.registerLabels{
  text-align: left;
}
 .title{
  font-size: x-large;
  background-color: rgba(255, 255, 255, 0.754);
  border: none;
  font-family: 'Barlow Condensed', sans-serif;
  color: rgb(80, 80, 80)
 }

 .title-dark{
  font-size: x-large;
  background-color: rgb(88 90 98 / 75%);
  border: none;
  font-family: 'Barlow Condensed', sans-serif;
  color: rgb(225, 225, 225);
 }

 .description{
  font-size: larger;
  background-color: rgba(255, 255, 255, 0.754);
  border: none;
  border-top: 1px solid rgb(134, 134, 134);

 }

 .content{
  font-size: large;
  background-color: rgba(255, 255, 255, 0.754);
  border: none;
  min-height: auto;
 }
 .createContent{
  font-size: large;
  background-color: rgba(255, 255, 255, 0.754);
  border: none;
  min-height: 500px;
  font-family: 'Barlow Condensed', sans-serif;
  color: rgb(80, 80, 80)
 }
 .create-content-dark{
  font-size: large;
  background-color: rgb(88 90 98 / 75%);
  border: none;
  min-height: 500px;
  font-family: 'Barlow Condensed', sans-serif;
  color: rgb(225, 225, 225)
 }

 .date{
  font-size: large;
  background-color: rgba(255, 255, 255, 0.754);
  border: none;
  font-family: 'Barlow Condensed', sans-serif;
  color: rgb(80, 80, 80)
 }

 .date-dark{
  font-size: large;
  background-color: rgb(88 90 98 / 75%);
  border: none;
  font-family: 'Barlow Condensed', sans-serif;
  color: rgb(225, 225, 225)
 }

 
 .navbarContainer{
   display: flex;
   justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.304);
  }

  .navbarContainer-dark{
    display: flex;
    justify-content: space-between;
   background-color: rgba(0, 0, 0, 0.489)
  }
  
  .logo{
   color: white;
   font-size: 25px;
   margin-left: 80px;
   font-family: Arial, Helvetica, sans-serif;
}
.jingle{
  color: white;
  font-size: 18px;
}

 .navbar{
  display: flex;
  list-style: none;
  margin-right: 80px;
  align-items: center;
 }

.navbarLinks{
  color: white;
  margin: 3px;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 4px;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 2px solid white; */
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbarLinks img {
  padding-top: 3px;
}

.mode-dark{
  margin-top: 3px;
  width: 50%;
}

 .dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  margin: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  width: fit-content;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 192, 203, 0.561);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  float: none;
  color: white;
  padding: 12px 16px;
  display: block;
  text-align: left;
  border: none;
  background-color: rgba(255, 255, 255, 0)
}

.dropdown button:hover{
  background-color: rgba(227, 170, 179, 0.722);
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.rbc-day-bg rbc-off-range-bg{
  background-color: rgba(255, 255, 255, 0.436) !important;
}

.rbc-off-range{
  color: black !important;
}

.entriesContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  height: 900px;
  overflow-y: scroll !important;
  margin-top: 20px;
}

.singleEntryContainer{
  background-color: rgba(255, 255, 255, 0.436);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;
  color:  rgb(80, 79, 79);
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 30px;
}

.singleEntryContainer div{
  font-family: 'Barlow Condensed', sans-serif !important;;
}

.singleEntryContainer-dark{
  background-color: rgba(0, 0, 0, 0.489);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;
  color:  rgb(39, 39, 39);
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 30px;
  font-family: 'Barlow Condensed', sans-serif !important;
}

.singleEntryContainer-dark button {
  border-radius: 5px;
  padding: 12px 0px 12px 0px;
  border: 2px solid rgb(164 164 164);
  background-color: rgba(41, 41, 41, 0.53);
  color: rgb(225, 225, 225);
  font-size: 15px;
  width: 20%;
}


.singleEntryContainer-dark button:hover {
  border-radius: 5px;
  padding: 12px 0px 12px 0px;
  border: 2px solid rgba(142, 142, 142, 0.705);
  background-color: rgb(88 90 98 / 75%);
  color: rgb(225, 225, 225);;
  font-size: 15px;
  width: 20%;
}

.registerContainer{
  background-color: rgba(255, 255, 255, 0.436);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;
  color:  rgb(80, 79, 79);
  display: flex;
  flex-direction: column;
  width: 400px;
 margin-top: 30px;
 height: auto;
 font-family: 'Barlow Condensed', sans-serif;}

.registerContainer-dark{
  background-color: rgba(0, 0, 0, 0.489);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;
  color:  rgb(80, 79, 79);
  display: flex;
  flex-direction: column;
  width: 400px;
 margin-top: 30px;
 height: auto;
 font-family: 'Barlow Condensed', sans-serif;
}

.singleEntryContainer button{
  border-radius: 5px;
 padding: 12px 0px 12px 0px;
 border: 2px solid rgb(223, 166, 176);
 background-color: rgba(223, 166, 176, 0.53);
 color: white;
 font-size: 15px;
 width: 20%;
}

.singleEntryContainer button:hover{
  background-color: rgb(223, 166, 176)
}
.entryTitle{
  color: rgb(223, 166, 176);
  font-weight: bold;
  width: auto;
}

.entryTitle-dark{
  color: (225, 225, 225);
  font-weight: bold;
  width: auto;
  font-family: 'Barlow Condensed', sans-serif !important;
}



.container{
  justify-content: center;
  display: flex;
}

.entryContent{
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.715);
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(80, 79, 79);
  margin-bottom: 10px;
  margin-top: 12px;
  font-family: 'Courier New', Courier, monospace;
}
.entryContent-dark{
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(88 90 98 / 75%);
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(225, 225, 225);
  margin-bottom: 10px;
  margin-top: 12px;
  font-family: 'Barlow Condensed', sans-serif !important
}
.allEntryContent{
  height: auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.715);
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(80, 79, 79);
  margin-bottom: 10px;
  margin-top: 12px;
}

.allEntryContent-dark{
  height: auto;
  border-radius: 5px;
  background-color: rgb(88 90 98 / 75%);
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(80, 79, 79);
  margin-bottom: 10px;
  margin-top: 12px;
}

.allEntryContent-dark p {
  color: rgb(255, 255, 255);
  font-family: 'Barlow Condensed', sans-serif
}

.allEntryContent-dark h2 {
  color: rgb(255, 255, 255);
  font-family: 'Barlow Condensed', sans-serif
}

.createDate{
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}

.createDate-dark{
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(225, 225, 225);
}

.read-more-btn{
  color: white;
  text-decoration: none;
}

.read-more-btn-dark{
  color: rgb(197, 197, 197);
  text-decoration: none;
}

.read-more-btn-dark:hover{
  color: rgb(225, 225, 225);
  text-decoration: none;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.buttons button{
  font-weight: 800;
}

.readMoreButton{
  justify-content: center;
  display: flex;
}

.readMoreButton button{
  font-weight: 800;
}


.editDeleteBut{
  width: 1000px;
  display: flex;
  justify-content: right;
}

.editDeleteBut button{
  margin-left: 20px;

}

.cancelSubmitButtons{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.cancelSubmitButtons button{
  font-weight: 800;
}

.regFormContainer{
  display: flex;
  justify-content: center;
}

.signupButton{
  width: 150px;
  justify-content: right;
  border-radius: 15px;
  padding: 8px 0px 8px 0px;
  background-color: rgba(216, 216, 216, 0.728);
  font-weight: 700;
  color: white;
  border: 2px solid white;
  margin-top: 20px;
  font-size: medium;
}

.signupButton:hover{
  background-color: rgba(178, 178, 178, 0.728);
}

.registerHeader{
  margin-bottom: 40px;
  color: white;
}

.searchBar{
  width: 40%;
  border: 1px solid rgba(0, 0, 0, 0.29);
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.searchBar-dark{
  width: 40%;
  border: 1px solid rgba(0, 0, 0, 0.29);
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.489);
  color: white;
}

input:focus,
#alphatxt:focus {
    outline: 0;
}

.allEntriesContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

textarea:focus,
#alphatxt:focus {
    outline: 0;
}